
@model IEnumerable<ProjectManagementSystem.ViewModel.UsersWithRoles>

<br />
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
            <th></th>
        </tr>
    <thead>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @Html.ActionLink("Add", "Register", "Account", new { id = item.UserId }, new { @class = "btn btn-primary" })
            </td>
            @if (!item.Role.Contains("Admin"))
            {
                <td>

                    @Html.ActionLink("Delete", "Delete", "Account", new { id = item.UserId }, new { @class = "btn btn-primary" })
                </td>
            }

        </tr>
        }

</table>

