@Scripts.Render("~/Scripts/Chart.min.js");
@model ProjectManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div class="container">
    <h2 class="text-center">Your Profile</h2>
    <div class="row">
        <div class="col">
            @{
                var ProfilePic = new WebImage(Model.Img);
                string imagebase64string = Convert.ToBase64String(ProfilePic.GetBytes());
                string dataUrl = string.Format("data:image/jpeg;base64,{0}", imagebase64string);
            }
            <img src="@dataUrl" width="200" height="200" class="avatar img-thumbnail rounded-circle" alt="avatar" />
            <br />
            <br />
            @Html.ActionLink("Enter Your Qulifications", "Data", "Manage", new { @class = "btn btn-primary" })
            <br />
            <br />
            <h5>FirstName:</h5>
            <p>@Html.DisplayTextFor(m => m.FirstName)</p>
            <br />
            <h5>LastName:</h5>
            <p>@Html.DisplayTextFor(m => m.LastName)</p>
            <br />
            <h5>Email:</h5>
            <p>@Html.DisplayTextFor(m => m.Email)</p>
        </div>
        @if (!Model.isAdmin)
        {
            <div class="col">
                <canvas id="myChart"></canvas>
            </div>
        }

        <div class="col">
            @{Html.RenderAction("index", "Projects");
            }
        </div>
    </div>
</div>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
            data: {
                    labels: [
                'Red',
                'Yellow',
                'Blue'
            ],
            datasets: [{
                label: 'My First dataset',
                backgroundColor:['blue','coral'],
                borderColor: 'rgb(255, 99, 132)',
                data: [55,30]
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>
