@model ProjectManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div class="container">
    <h2 class="text-center">Your Profile</h2>
    <div class="row">
        <div class="col">
            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-thumbnail rounded-circle" alt="avatar" />
            <br />
            <br />
            <button class="btn btn-primary">Edit Your Profile</button>
            <br />
            <br />
            <h5>FirstName:</h5>
            <p>@*Html.DisplayNameFor(m => m.FirstName)*@</p>
            <br />
            <h5>LastName:</h5>
            <p>@*Html.DisplayNameFor(m => m.LastName)*@</p>
            <br />
            <h5>Email:</h5>
            <p>@*Html.DisplayNameFor(m => m.Email)*@</p>
        </div>
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            
                        </th>
                        <th>
                           
                        </th>
                        <th>
                           
                        </th>
                        <th>
                            
                        </th>
                        <th></th>
                    </tr>
                <thead>
                    @*foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Customer.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                        </tr>
                    }*@

            </table>
        </div>
    </div>
</div>
