@Scripts.Render("~/Scripts/Chart.min.js");
@model ProjectManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div class="container">
    <h2 class="text-center">Your Profile</h2>
    <div class="row">
        <div class="col">
            @{
                var ProfilePic = new WebImage(Model.Img);
                string imagebase64string = Convert.ToBase64String(ProfilePic.GetBytes());
                string dataUrl = string.Format("data:image/jpeg;base64,{0}", imagebase64string);
            }
            <img src="@dataUrl" width="200" height="200" class="avatar img-thumbnail rounded-circle" alt="avatar" />
            <br />
            <br />
            @if (!Model.isAdmin)
            {
                @Html.ActionLink("View Your Qulifications","Qualifications", "Manage", new { @class = "btn btn-primary" })
            }
            <br />
            <br />
            <h5>FirstName:</h5>
            <p>@Html.DisplayTextFor(m => m.FirstName)</p>
            <br />
            <h5>LastName:</h5>
            <p>@Html.DisplayTextFor(m => m.LastName)</p>
            <br />
            <h5>Email:</h5>
            <p>@Html.DisplayTextFor(m => m.Email)</p>
        </div>
        @if (!Model.isAdmin)
        {
            
        }

        <div class="col">
            @{Html.RenderAction("index", "Projects");
            }
        </div>
    </div>
</div>